.tasks-page{
    padding: 16px 12px;
    width: 1023px;
    margin-left: 30px;
}
.header {
    padding: 6px 8px;
}
@media (max-width:1920px){
    .tasks-page {
        width: 850px;
    }
}
@media (max-width:1230px){
    .tasks-page {
        width: 750px;
    }
}
@media (max-width:1080px){
    .tasks-page {
        width: 641px;
    }
}
@media (max-width:992px){
    .tasks-page{
        max-width: 528px;
    }
    form{
        width: 33%;
    }
}
@media (max-width:767px){
    .tasks-page{
        max-width: 564px;
    }
    form{
        width: 33%;
    }
}
@media (max-width:650px){
    .tasks-page{
        max-width: 475px;
    }
}
@media (max-width:545px){
    .tasks-page{
        max-width: 380px;
    }
    form{
        width: 50%;
    }
}
@media (max-width:440px){
    .tasks-page{
        max-width: 300px;
    }
    form{
        width: 55%;
    }
}
@media (max-width:350px){
    .today{
        right: 34%;
    }
    .tasks-page{
        max-width: 245px;
    }
}