<div class="header">
    <div class="bars">
        <a href="#">
            <i class="fa fa-ellipsis-v"></i>
            <i class="fa fa-ellipsis-v"></i>
            <i class="fa fa-ellipsis-v"></i>
        </a>
    </div>
    <div class="to-do-btn">
        <a href="#">To Do</a>
    </div>
</div>