<div class="planned-page">
    <div class="header">
        <div class="title blue">Planned</div>
    </div>
    <div class="display-tasks" *ngFor="let user of users; let i=index">
        <div *ngIf="user.date && user.time && user.tasks" class="display-task">
            <div class="circle">
                <a class="blue">
                    <i class="fa fa-circle-thin" [title]="'Mark as completed'"></i>
                </a>
            </div>
            <div class="data">{{user.tasks}}</div>   
            <div class="star">
                <a class="black" (click)="addImportant(i)">
                    <div *ngIf="user.important; then thenBlock else elseBlock"></div>
                    <ng-template #thenBlock><i class="fa fa-star blue" [title]="'Mark task as important'"></i></ng-template>
                    <ng-template #elseBlock><i class="fa fa-star-o" [title]="'Mark task as important'"></i></ng-template>
                </a>
            </div>   
        </div>
    </div>  
    <app-plus [users]="users"></app-plus>
</div>