<app-header></app-header>
<div class="app">
    <ng-sidebar-container>
      <div ng-sidebar-content>
        <div class="right-content">
          <div class="right-arrow" (click)="openSideBar()">
            <i class="fa fa-angle-right"></i>
          </div>
          <ng-container *ngIf="selectedList==='My-Day'">
            <app-my-day [users]="users"></app-my-day>
          </ng-container>
          
          <ng-container *ngIf="selectedList==='Planned'">
            <app-planned [users]="users"></app-planned>
          </ng-container>
          
          <ng-container *ngIf="selectedList==='Important'">
            <app-important [users]="users"></app-important>
          </ng-container>
          
          <ng-container *ngIf="selectedList==='Tasks'">
            <app-tasks [users]="users"></app-tasks>
          </ng-container>
        </div>
      </div>
      <ng-sidebar mode="push" [opened]=opened>
        <div class="left-arrow" (click)="openSideBar()">
          <a href="#">
            <i class="fa fa-angle-left"></i>
          </a>
        </div>
        <div class="lists">
          <div *ngFor="let menulist of menulists;let i=index" class="list mt10" (click)="openSideBar()">
            <a (click)="openMenuList(menulist)">
                <i class="fa {{icons[i]}} pr10"></i>    
              <span class="menu">{{menulist}}</span>
            </a>
          </div>
        </div>
      </ng-sidebar>
    </ng-sidebar-container>
</div>