.app{
    display: flex;
}
i ,span{
    color: #34373d;
    font-size: 1.4em;
}
/* .left-content{
    width: 300px;
} */
.mt10{
    margin-top: 10px;
}
.ml15{
    margin-left: 15px;
}
.pr10{
    padding-right: 10px;
}
.my-day,.planned,.important,.tasks{
    outline: none;
}
.right-content{
    display: flex;
    width: 100%;
    margin: 0 auto;
    margin-right: 0;
}
.fa-angle-left,
.fa-angle-right{
    color: #3e69e4;
    font-size: 2em;
}
.left-arrow,
.right-arrow{
    padding: 23px 0 8px;
    cursor: pointer;
}
.right-arrow{
    padding-left: 15px;
    position: fixed;
    top: 56px;
    left: 5px;
}

.list{
    cursor: pointer;
}
.list:focus{
    background-color: gray;
}
ng-sidebar-container{
    height: 100vh;
}
::ng-deep .ng-sidebar{
    background-color: #f4f4f4;
    width: 290px;
    padding-left: 15px;
    /* box-shadow:0 0 2.5em white; */
}