<div class="plus-btn">
    <a href="#link" class="plus blue">
        <i class="fa fa-plus"></i>
    </a>    
</div>
<div id="link" class="display-box">
    <form>
        <input type="text" placeholder="Enter Title" class="tasks mb10" [(ngModel)]="inputTask" name="task"><br>
        <input type="text" placeholder="Enter Description" class="description mb10" [(ngModel)]="inputDesciption" name="description"><br>
        <input type="date" class="date mb10" [(ngModel)]="inputDate" name="date"><br>
        <input type="time" class="time mb10" [(ngModel)]="inputTime" name="time"><br>
        <a href="#">
            <input type="button" value="Add" class="add-btn blue" (click)="addTodo()">
        </a>
    </form>
</div>