form{
    border: 1px solid blue;
    padding: 20px 0;
    width: 16%;
    margin: 10% auto;
    background-color: rgba(0,0,255,0.5);
    outline: none;
}
.tasks,
.description,
.date,
.time{
    background-color: transparent;
    border: none;
    color: white;
}
.tasks::placeholder,
.description::placeholder{
    color: white;
}
.plus{
    font-size: 28px;   
    padding: 0px 10px;
}
.plus-btn{
    position: fixed;
    border-radius: 50%;
    border: 2px solid #3e69e4;
    bottom: 15px;
    right: 20px;
    height: 37px;
}
.display-box{
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
}
.display-box:target{
    display: block;
}
.mb10{
    margin-bottom: 10px;
}