/* You can add global styles to this file, and also import other style files */
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css);
*{
    font-family: "Segoe","Segoe UI","Arial","sans-serif";
    outline: none;
}
a{
    text-decoration: none;
}
.list h2{
    cursor: pointer;
}
.title{
    font-size: 2em;
    line-height: 1.2;
    font-weight: 600;
    font-family: "Segoe","Segoe UI","Arial","sans-serif";
}
.blue {
    color: #3e69e4;
}
.black{
    color: #34373d;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.display-task{
    display: flex;
    padding: 13px 0;
    border-bottom: 1px solid gray;
}
.display-task:hover{
    background-color: #f4f4f4;
    border-bottom: 1px solid transparent;
}
.circle {
    font-size: 18px;
    padding-left: 8px;
    width: 32px;
    cursor: pointer;
}
.star{
    cursor: pointer;
}
.data {
    width: 90%;
}