.display-task{
    display: flex;
    padding: 13px 0;
}
.my-day-page{
    padding: 16px 12px;
    width: 1023px;
    margin-left: 30px;
}
.header {
    padding: 6px 8px;
}
.today{
    position: fixed;
    bottom: 15px;
    right: 19%;
    border: 2px solid #3e69e4;
    border-radius: 25px;
    padding: 6px 16px;
    font-size: 20px;
}



::ng-deep input.dp-picker-input.ng-untouched.ng-pristine.ng-valid {
    width: 80px !important;
    height: 24px !important;
    border: none;
    outline: none;
}
::ng-deep input.dp-picker-input.ng-untouched.ng-pristine.ng-valid::placeholder {
    font-size: 20px;
    color: #3e69e4;
}


.current-date {
    font-size: 1rem;
    font-weight: 400;
    padding: 0 8px;
}
.fa-lightbulb-o {
    padding-right: 8px;
}
.mb10{
    margin-bottom: 10px;
}
@media (max-width:1920px){
    .my-day-page {
        width: 850px;
    }
}
@media (max-width:1230px){
    .my-day-page {
        width: 750px;
    }
}
@media (max-width:1080px){
    .my-day-page {
        width: 641px;
    }
}
@media (max-width:992px){
    .my-day-page{
        max-width: 528px;
    }
    form{
        width: 33%;
    }
}
@media (max-width:767px){
    .my-day-page{
        max-width: 564px;
    }
    form{
        width: 33%;
    }
}
@media (max-width:650px){
    .my-day-page{
        max-width: 475px;
    }
}
@media (max-width:545px){
    .my-day-page{
        max-width: 380px;
    }
    form{
        width: 50%;
    }
}
@media (max-width:440px){
    .my-day-page{
        max-width: 300px;
    }
    form{
        width: 55%;
    }
}
@media (max-width:350px){
    .today{
        right: 34%;
    }
    .my-day-page{
        max-width: 245px;
    }
}