<div class="my-day-page">
    <div class="header">
        <div class="title black">My Day</div>
    </div>
    <div class="current-date">
         {{today | date:'fullDate'}}<br>      
    </div>
    <div class="display-tasks" *ngFor="let user of users; let i=index">
        <div *ngIf="user.tasks && currentDate==user.date" class="display-task">
            <div class="circle">
                <a class="blue">
                    <i class="fa fa-circle-thin" [title]="'Mark as completed'"></i>
                </a>
            </div>
            <div class="data">{{user.tasks}}</div>   
            <div class="star">
                <a class="black" (click)="addImportant(i)">
                    <div *ngIf="user.important; then thenBlock else elseBlock"></div>
                    <ng-template #thenBlock><i class="fa fa-star blue" [title]="'Mark task as important'"></i></ng-template>
                    <ng-template #elseBlock><i class="fa fa-star-o" [title]="'Mark task as important'"></i></ng-template>
                </a>
            </div>   
        </div>
    </div>
    
    <div class="footer black">  
        <div class="today-btn">
            <div class="today">
                <a class="blue"><i class="fa fa-lightbulb-o"></i></a>
                <dp-date-picker [(ngModel)]="today" placeholder="Today"></dp-date-picker>
            </div> 
        </div>
        <app-plus [users]="users"></app-plus>
    </div> 
</div>